body {background-color: #d8b9ff	;}

li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none;
    display: inline;
    
    }
    .midlaner {background-color: #eeeeee}
    .toplaner {background-color: #ffea00}