<center>
        <h1>Tokyo, Japan</h1>

        <img src="img/city.jpg" alt="tokyo">
        <img src="img/city1.jpg" alt="tokyo">
        <img src="img/city2.jpg" alt="tokyo">
        <p>Images Courtesy of Unsplash</p>
    </center>

    {{{body}}}